<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit Bandwidth</h5>
            <%= link_to "#", class: "close", data: {dismiss: "modal"} do %>
              <span aria-hidden="true">&times;</span>
            <% end %>
        </div>
        <%= render "form" %>
    </div>
</div>