<div class="container-fluid">
  <div class="d-flex row flex-row-reverse">
    <div class="col-md-9 col-lg-10">
      <%= render 'table' %>
    </div>
    <div class="col-md-3 col-lg-2" id="search">
      <%= render 'searchform' %>
    </div>
  </div>
</div>